*{
	margin: 0;
	padding: 0;

}
body{
background-color: silver;
}
#contenedor{
	background-color: ;

}
#cabecera{
	text-align: center;
}

#pestanas{

border-top: 13px solid gray;
border-bottom: 30px solid gray;

}
nav ul{
	margin-left: 20px;
	width: 100%;
    height: 20px;
}
nav li{
	


    margin: 2%;
    display: block;
    float: left;
    width: 20%;
   
  
}
nav li a{
	color: #fff;
background-color: red;

}
nav li a:hover{background-color: #e44d26;}
nav li a:active{background-color: red;}
nav li a:link{background-color: #e44d26;}

#texto{
	
	
	margin-top: 10px;
	margin-right: 10px;
    margin-left: 10px;
   
	background-color: #ffffff;
	width: 40%;
	float: left;

}
#mapa{
	margin-top: 10px;
	margin-right: 10px;
	
	margin-left: 10px;
	text-align: center;
	width: 50%;
	float: left;

}
